[submodule "src/drobo_interfaces"]
	path = src/drobo_interfaces
	url = https://github.com/nityc-d-robo/drobo_interfaces.git
[submodule "swerve_drive_control"]
	path = swerve_drive_control
	url = https://github.com/nityc-d-robo/swerve_drive_control
